@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap");

* {
    font-family: "Roboto", sans-serif;
    transition: 0.5ms;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #07080D;
    margin: 0;
    padding: 0;
}
header img {
    width: 200px;
}
header a {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #f1f1f1;
    letter-spacing: 2px;
}
header a:hover {
    color: #ffc632;
    border-bottom: 2px solid #ffc632;
}
h1 {
    font-size: 100px;
    font-weight: 900;
    font-style: italic;
}
p {
    width: 87%;
    font-size: 20px;
}
h2 {
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
}
span {
    color: #ffc632;
}
main img {
    width: 600px;
    height: 500px;
}
main p {
    width: 66%;
}
footer h2 {
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
}
input {
    width: 500px;
    height: 50px;
    border: none;
}
::placeholder {
    color: rgb(79, 78, 78);
    letter-spacing: 1px;
    font-size: 15px;
}
.footer-list {
    margin-top: 250px;
}
.text-light .fw-bold {
    font-size: 60px;
}
.header-btn a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #000;
}
.header-btn {
    background-color: #ffc632;
    padding: 15px 30px;
}
.main-btn {
    background-color: #ffc632;
    padding: 15px 30px;
}
.main-btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 5px;
}
.footer-btn {
    background-color: #ffc632;
    padding: 10px 30px;
    margin-top: 20px;
}
.footer-btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 7px;
}
footer {
    width: 100%;
    margin-top: 60px;
    height: 400px;
}